body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #795548;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin: 0 0 0 25px;
}

nav a {
  color: #EEEEEE;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#cartIco,
#addToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  width: 100px;
  height: 50px;
  background-color: #EEEEEE;
  color: #795548;
  border-radius: 15px;
  border: 1px #EEEEEE thin;
  margin: 0 20px;
}

h2 {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Kalam', cursive;
  color: #795548;
  margin-bottom: 0;
}

a,
img {
  width: 60%;
}

#article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#article #product h3 {
  text-align: center;
}

#article #custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  margin-right: 25px;
  color: #795548;
}

#article #custom select {
  background-color: #795548;
  color: #EEEEEE;
  height: 50px;
  border-radius: 25px;
  font-size: 1.2em;
}

#article #custom #price {
  font-size: 3em;
}

#article #custom #addToCart {
  margin-top: 50px;
  width: 80%;
}

#article #custom #addToCart svg {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#article #custom #addToCart:hover svg {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

#article #custom label {
  font-size: 1.5em;
}

#product,
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #795548;
}

#product #productImg,
#product img,
.products #productImg,
.products img {
  margin-top: 35px;
}

#product #name,
#product h3,
.products #name,
.products h3 {
  font-size: 3em;
  font-family: 'Kalam', cursive;
  border-bottom: solid 3px #795548;
}

#product #description,
#product .description,
.products #description,
.products .description {
  font-size: 1.3em;
  color: #795548;
  width: 70%;
}

#product .price,
.products .price {
  font-size: 2.5em;
}

#formTitle {
  font-size: 2em;
}

#cart h2 {
  font-size: 3em;
  margin-bottom: 50px;
}

#cart table {
  margin: auto;
  empty-cells: hide;
  color: #795548;
}

#cart table thead {
  font-size: 2em;
}

#cart table tbody,
#cart table tfoot {
  font-size: 2em;
}

#cart table tbody td,
#cart table tfoot td {
  margin-bottom: 25px;
  text-align: center;
}

#cart table tbody td img,
#cart table tfoot td img {
  width: 40%;
}

#cart table tbody #tdImg,
#cart table tfoot #tdImg {
  width: 30%;
}

#cart table tbody .tdPrice,
#cart table tfoot .tdPrice {
  width: 30%;
}

#cart table tfoot {
  line-height: 300%;
}

#clearDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

#clearDiv #clear {
  margin: auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px auto;
  width: 300px;
  color: #795548;
}

form label {
  font-size: 1.3em;
  margin-left: 15px;
}

form .text {
  font-size: 1.4em;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: 0;
  border-top: #ffffff 2px solid;
  border-right: #ffffff 2px solid;
  border-left: solid 2px #795548;
  border-bottom: solid 2px #795548;
  -webkit-transition: width .5s ease-in-out, border .5s ease-in-out;
  transition: width .5s ease-in-out, border .5s ease-in-out;
}

form .text:focus {
  border-right: solid 2px #795548;
  border-top: solid 2px #795548;
  color: #795548;
}

#btnSubmit, #clear {
  font-size: 1.4em;
  border-radius: 15px;
  background-color: #EEEEEE;
  color: #795548;
}

footer {
  height: 100px;
  background-color: #795548;
  color: #EEEEEE;
}

footer p {
  text-align: center;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0;
  width: 30%;
}

.orderConfirm p {
  text-align: center;
  font-size: 2em;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #795548;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #795548;
}

@media all and (max-width: 425px) {
  nav h1 {
    font-size: 2.5em;
    margin: auto 0;
  }
  nav h1 a {
    color: #EEEEEE;
  }
  nav #cartIco {
    margin: auto 0;
    color: #795548;
  }
  .products img {
    width: 100%;
    margin: 0;
  }
  .products h3 {
    margin-bottom: 0;
  }
  .products .description {
    width: 80%;
  }
  #article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #article #product h3 {
    margin-bottom: 0;
  }
  #article #product #productImg {
    width: 80%;
  }
  #article #product #description {
    width: 90%;
  }
  #article #custom {
    margin: auto;
  }
  #article #custom #price {
    font-size: 2em;
    margin: auto auto 25px;
  }
  #article #custom #addToCart {
    margin: 25px auto;
  }
  #cart h2 {
    font-size: 2em;
    margin-bottom: 50px;
  }
  #cart table {
    margin: auto;
    empty-cells: hide;
    color: #795548;
  }
  #cart table thead {
    font-size: 1.5em;
  }
  #cart table tbody,
  #cart table tfoot {
    font-size: 1.5em;
  }
  #cart table tbody td,
  #cart table tfoot td {
    margin-bottom: 25px;
    text-align: center;
  }
  #cart table tbody td img,
  #cart table tfoot td img {
    width: 100%;
  }
  #cart table tbody #tdImg,
  #cart table tfoot #tdImg {
    width: 30%;
  }
  #cart table tbody .tdPrice,
  #cart table tfoot .tdPrice {
    width: 30%;
  }
  #cart table tfoot {
    line-height: 300%;
  }
}
/*# sourceMappingURL=style.css.map */