body {
    margin: 0;
    padding: 0;
}

$principalClr: #BCAAA4;
$secondaryClr: #EFEBE9;

header {
    background-color: $principalClr;
}

nav {
    display: flex;
    height: 70px;
    justify-content: space-between;

    h1 {
        font-family: 'Permanent Marker', cursive;
        font-size: 3em;
        margin: 0 0 0 25px;
    }

    a {
        color: black;
        text-decoration: none;
        align-self: center;
    }
}

#cartIco,
#addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 100px;
    height: 50px;
    background-color: $secondaryClr;
    border-radius: 15px;
    border: 1px $secondaryClr thin;
    margin: 0 20px;
}

h2 {
    text-align: center;
    font-size: 3.5em;
    font-family: 'Kalam', cursive;
}

img {
    width: 100%;
}

#article {
    display: flex;

    #custom {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-right: 25px;

        #price {
            font-size: 3em;
        }

        #addToCart {
            height: 50px;
            margin-top: 50px;
            color: black;
            text-align: center;
        }

        label {
            font-size: 1.5em;
        }
    }
}

#product,
.products {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    #productImg,
    img {
        margin-top: 35px;
    }

    #name,
    h3 {
        font-size: 3em;
        font-family: 'Kalam', cursive;
    }

    #description,
    .description {
        font-size: 1.3em;
    }

    .price {
        font-size: 2.5em;
    }
}

#addToCart {
    margin-bottom: 50px;
}

#formTitle {
    font-size: 2em;
}

#cart {
    table {
        margin: auto;
        empty-cells: hide;

        thead {
            font-size: 2em;
        }

        tbody, tfoot {
            font-size: 2em;

            td {
                border-bottom: solid black 2px;
                margin-bottom: 25px;
                text-align: center;

                img {
                    width: 100px;
                }
            }
            .tdPrice {
                width: 30%;
            }

        }
    }
}
#clearDiv{
    display: flex;
    #clear {
        margin: auto;
        background-color: $secondaryClr;
        width: 200px;
    }
}

form {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 300px;

    label {
        font-size: 1.3em;
        margin-left: 15px;
    }

    .text {
        font-size: 1.4em;
        margin-bottom: 20px;
        border-radius: 5px;
        outline: 0;
        border-top: #ffffff 2px solid;
        border-right: #ffffff 2px solid;
        border-left: solid 2px #292929;
        border-bottom: solid 2px #2e2e2e;
        color: rgb(61, 61, 61);
        transition: width .5s ease-in-out, border .5s ease-in-out;
    }

    .text:focus {
        border-right: solid 2px #222222;
        border-top: solid 2px #222222;
    }
}

#btnSubmit {
    font-size: 1.4em;
    border-radius: 15px;
    background-color: $secondaryClr;
}

footer {
    height: 100px;
    background-color: $principalClr;

    p {
        text-align: center;
    }

    ul {
        list-style: none;
        display: flex;
        font-size: 2em;
        justify-content: space-evenly;
        width: 200px;
        margin: auto;
        padding: 0;
    }
}

.orderConfirm {
    p {
        text-align: center;
    font-size: 2em;
    }
    
}

@media all and (max-width:768px) {

    #cart {
        table {
            margin: auto;
            empty-cells: hide;

            thead {
                font-size: 1.5em;
            }

            tbody {
                font-size: 1.5em;

            }
        }
    }

}