#article {
    display: flex;

    #product {
        width: 80%;
        h3 {
            text-align: center;
        }
    }

    #custom {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        margin-right: 25px;
        color: $principalClr;

        select {
            background-color: $principalClr;
            color: $secondaryClr;
            height: 50px;
            border-radius: 25px;
            font-size: 1.2em;
        }

        #price {
            font-size: 3em;
        }

        label {
            font-size: 1.5em;
        }
    }
}

#product {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
    color: $principalClr;

    img {
        margin-top: 35px;
    }

    h3 {
        font-size: 3em;
        font-family: 'Kalam', cursive;
        border-bottom: solid 3px $principalClr;
    }

    #description {
        font-size: 1.3em;
        color: $principalClr;
        width: 70%;
    }

    #price {
        font-size: 2.5em;
    }
}

@media all and (max-width:425px) {


    #article {
        flex-direction: column;

        #product {
            h3 {
                margin-bottom: 0;
            }

            #productImg {
                width: 80%;
            }

            #description {
                width: 90%;
            }
        }

        #custom {
            margin: auto;

            #price {
                font-size: 2em;
                margin: auto auto 25px;
            }

            #addToCart {
                margin: 25px auto;
            }
        }
    }
}