body {
    margin: 0;
    padding: 0;
}

header {
    background-color: $principalClr;
}

nav {
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px;


    h1 {
        font-family: 'Permanent Marker', cursive;
        font-size: 3em;
        margin: 0 0 0 25px;
    }

}

h2 {
    text-align: center;
    font-size: 3.5em;
    font-family: 'Kalam', cursive;
    color: $principalClr;
    margin-bottom: 0;
}

a {
    width: 60%;
    color: $secondaryClr;
    text-decoration: none;
    align-self: center;
}

img {
    width: 60%;
}

footer {
    height: 100px;
    background-color: $principalClr;
    color: $secondaryClr;

    p {
        text-align: center;
    }

    ul {
        list-style: none;
        display: flex;
        font-size: 3em;
        justify-content: space-between;
        margin: auto;
        padding: 0;
        width: 30%;

    }
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $principalClr;
    border-radius: 25px;

    &:hover {
        background: $principalClr;
    }
}

@media all and (max-width:425px) {
    nav {
        h1 {
            font-size: 2.5em;
            margin: auto 0;

            a {
                color: $secondaryClr;
            }
        }

        #cartIco {
            width: 70px;
            margin: auto 0;
            color: $principalClr;
        }
    }

    h2 {
        font-size: 3em;
    }

    footer {
        ul {
            width: 60%;
        }
    }
}

@media all and (max-width:320px) {
    nav {
        h1 {
            font-size: 2em;
        }
    }
}